body{
    box-sizing: border-box;
    font-family: "Noto Sans KR",sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 10px;
}
li{
    margin: 4px;
    list-style: none;
}
ul{
    margin: 0;
}